<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_Menu>
            <version>1.0.5</version>
        </Mirasvit_Menu>
    </modules>
    <global>
        <models>
            <menu>
                <class>Mirasvit_Menu_Model</class>
                <resourceModel>mirasvit_resource</resourceModel>
            </menu>
            <mirasvit_resource>
                <class>Mirasvit_Menu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>m_menu</table>
                    </menu>
                    <menu_store>
                        <table>m_menu_store</table>
                    </menu_store>
                    <item>
                        <table>m_menu_item</table>
                    </item>
                    <item_store>
                        <table>m_menu_item_store</table>
                    </item_store>
                </entities>
            </mirasvit_resource>
        </models>
        <blocks>
            <menu>
                <class>Mirasvit_Menu_Block</class>
            </menu>
        </blocks>
        <helpers>
            <menu>
                <class>Mirasvit_Menu_Helper</class>
            </menu>
        </helpers>
        <resources>
            <menu_setup>
                <setup>
                    <module>Mirasvit_Menu</module>
                </setup>
            </menu_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <menu translate="title" module="menu">
                                    <title>Manage Menu</title>
                                    <sort_order>30</sort_order>
                                </menu>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <catalog>
                <children>
                    <menu module="menu">
                        <title>Manage Menu</title>
                        <sort_order>30</sort_order>
                        <action>menu/adminhtml_menu/index</action>
                    </menu>
                </children>
            </catalog>
        </menu>
        <layout>
            <updates>
                <menu>
                    <file>menu.xml</file>
                </menu>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <menu>
                <use>admin</use>
                <args>
                    <module>Mirasvit_Menu</module>
                    <frontName>menu</frontName>
                </args>
            </menu>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Mirasvit_Menu>
                    <files>
                        <default>Mirasvit_Menu.csv</default>
                    </files>
                </Mirasvit_Menu>
            </modules>
        </translate>
        <layout>
            <updates>
                <menu>
                    <file>menu.xml</file>
                </menu>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <menu translate="title" module="menu">
                                            <title>Menu</title>
                                        </menu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Mirasvit_Menu>
                    <files>
                        <default>Mirasvit_Menu.csv</default>
                    </files>
                </Mirasvit_Menu>
            </modules>
        </translate>
    </adminhtml>
</config>