<?xml version="1.0"?>
<config>
    <modules>
        <Ost_Instagramslider>
            <version>1.1.0</version>
        </Ost_Instagramslider>
    </modules>
    <blocks>
		<instagramslider>
			<rewrite>
				<instagramslider>Ost_Instagramslider_Block_Instagramslider</instagramslider>
			</rewrite>
		</instagramslider>
	</blocks>
    <frontend>
		<routers>
            <instagramslider>
                <use>standard</use>
                <args>
                    <module>Ost_Instagramslider</module>
                    <frontName>instagramslider</frontName>
                </args>
            </instagramslider>
        </routers>
       <layout>
            <updates>
                <instagramslider module="Ost_Instagramslider_Layout">
                    <file>instagramslider.xml</file>
                </instagramslider>
            </updates>
        </layout>
	</frontend>
	<global>
		<blocks>
            <instagramslider>
                <class>Ost_Instagramslider_Block</class>
            </instagramslider>
        </blocks>
		<models>
			<instagramslider>
				<class>Ost_Instagramslider_Model</class>
				<resourceModel>instagramslider_resource</resourceModel>
			</instagramslider>
			<instagramslider_resource>
				<class>Ost_Instagramslider_Model_Resource</class>
			</instagramslider_resource>
		</models>
		<resources>
			<instagramslider_setup>
				<setup>
					<module>Ost_Instagramslider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</instagramslider_setup>
			<instagramslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </instagramslider_write>
            <instagramslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </instagramslider_read>
		</resources>
		 <helpers>
            <instagramslider>
                <class>Ost_Instagramslider_Helper</class>
            </instagramslider>
        </helpers>
	</global>
    <default>
     <instagramslider>
            <instagramslider_settings>
                <instagramslider_status>1</instagramslider_status>
                <instagramslider_title>Instagram Slider</instagramslider_title>
                <instagramslider_play>1</instagramslider_play>
                <instagramslider_play_speed>3000</instagramslider_play_speed>
                <instagramslider_navigation>1</instagramslider_navigation>
                <instagramslider_pagination>1</instagramslider_pagination>
                <instagramslider_rewind>1</instagramslider_rewind>
                <instagramslider_item>20</instagramslider_item>
                <instagramslider_margin>8</instagramslider_margin>
            </instagramslider_settings>
        </instagramslider>
    </default>
    <adminhtml>
    <layout>
		<updates>
			<instagramslider>
				<file>instagramslider.xml</file>
			</instagramslider>
		</updates>
	</layout>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <instagramslider>
                                        <title>instagramslider - All</title>
                                    </instagramslider>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml>
</config>
