<?xml version="1.0"?>
<config>
    <modules>
        <Eke_Ogmeta>
            <version>0.1.0</version>
        </Eke_Ogmeta>
    </modules>
    <global>
        <models>
            <eke_ogmeta>
                <class>Eke_Ogmeta_Model</class>
                <resourceModel>eke_ogmeta_resource</resourceModel>
            </eke_ogmeta>
            <eke_ogmeta_resource>
                <class>Eke_Ogmeta_Model_Resource</class>
            </eke_ogmeta_resource>
        </models>
        <blocks>
            <eke_ogmeta>
                <class>Eke_Ogmeta_Block</class>
            </eke_ogmeta>
        </blocks>
        <helpers>
            <eke_ogmeta>
                <class>Eke_Ogmeta_Helper</class>
            </eke_ogmeta>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <eke_ogmeta>
                    <file>eke_ogmeta.xml</file>
                </eke_ogmeta>
            </updates>
        </layout>
    </frontend>
    <default>
        <eke_ogmeta>
            <og>
                <enabled>0</enabled>
            </og>
        </eke_ogmeta>
    </default>
</config>